@page "/login"
@using System.Security.Cryptography
@using System.Text
@using Result = MyZhiHuWeb.Models.Result
@layout LoginLayout
@inject NavigationManager Manager
@inject HttpService Http

<div class="login">
    <div class="form">
        <AntDesign.Input TValue="string" Placeholder="用户名: admin or user" @bind-Value="username">
            <Prefix>
                <Icon Type="@IconType.Outline.User"></Icon>
            </Prefix>
        </AntDesign.Input>
        <InputPassword Placeholder="密码: abc123" @bind-Value="password">
            <Prefix>
                <Icon Type="@IconType.Outline.Lock"></Icon>
            </Prefix>
        </InputPassword>
        <div class="area">
            <Checkbox @bind-Checked="remember">记住密码</Checkbox>
            <Button Type="@ButtonType.Link" OnClick="Register">注册</Button>
        </div>
        <Button Type="@ButtonType.Primary" OnClick="Submit">登录</Button>
    </div>
</div>

@code {
    private string username { get; set; }
    private string password { get; set; }
    private bool remember { get; set; }

    private void Register()
    {
        Manager.NavigateTo("/register");
    }

    private async Task Submit()
    {
        var bytes = MD5.Create().ComputeHash(Encoding.UTF8.GetBytes(password));
        var md5 = BitConverter.ToString(bytes).Replace("-", "").ToLower();
        var auth = new Auth
        {
            Username = username,
            Password = md5
        };
        var res = await Http.PostAsync<Result.Base<string>>(url: "auth/login", body: JsonConvert.SerializeObject(auth));

        if (res.Status == Result.StatusCode.Success)
        {
            Manager.NavigateTo("/");
        }
    }
}
